.login-location {
    margin: 70px 0;
  }
  
  .login-title {
    font-family: $main-font;
    border: none;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: $main-bg-color;
    background-color: white;
    margin-top: 16px;
  }
  
  .login-label {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: black;
  }
  
  .login-input {
    background-color: rgb(226, 226, 226);
    border: 1px solid black;
  }
  
  .btn-submit,
  .btn-register {
    background-color: $main-bg-color;
    color: white;
    padding: 8px 60px;
    box-shadow: inset 0 1.5px 2px $main-bg-color;
    border-radius: 22px;
  }
  
  .forgot-password {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-decoration-line: underline;
    color: $main-bg-color;
    float: right;
  }
  
  .sign-with {
    position: relative;
    border-bottom: 1px solid gray;
    margin-top: 58px;
  }
  
  .title-google {
    font-family: $main-font;
    position: absolute;
    top: -17px;
    background: white;
    padding: 0 21px;
    left: 137px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: black;
  }
  
  .account-google {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: red;
    background: white;
    border: 1px solid red;
    border-radius: 22px;
    padding: 13px 150px;
  }
  
  .model-register {
    margin-top: 18px;
  }
  
  .title-register {
    left: 105px;
  }
  
  .btn-register {
    padding: 13px 94px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: white;
  }